

<!-- views/home.ejs -->
<html>

<body>
    
<div style="padding-top: 150px" class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Search</h1>

   

    <!-- Search FORM -->
<div id= 'home'>
        <div class="form-group">
            <label>Zipcode</label>
            <input type="text" class="form-control" name="zipcode" id="searchterm">
        </div>
        <div class="form-group">
           

        <button id  = "search9" type="searcher" class="btn btn-info btn-block">Search</button>
   
    <hr>

    <p>Click here for your Bills and Legislators <a href="/user">User Page</a>.</p>
    
</div>

</div>
</div>
  <div id= 'list'>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="legislators-form-link">Legislator</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="bills-form-link">Bills</a>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <form id="legislators-form" action="/addLegislator" method="post" role="form" style="display: block;">
                                    <div class="form-group">
                                        SWAGLegislators
                                    </div>
                                   
                                </form>

                                <form id="bills-form" action="/addBill" method="post" role="form" style="display: none;">
                                    <div class="form-group">
                                        SWAGBills
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>

<% include header.ejs %>