<% include header.ejs %>

<!-- views/home.ejs -->
<!doctype html>
<html>

<body>
<div style="padding-top: 150px" class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Search</h1>

   

    <!-- Search FORM -->
    <form action="/home" method="post">
        <div class="form-group">
            <label>Zipcode</label>
            <input type="text" class="form-control" name="zipcode">
        </div>
        <div class="form-group">
           


        <button type="searcher" class="btn btn-info btn-block" id = "search">Search</button>
    </form>

    <hr>

    <p>Click here for your Bills and Legislators <a href="/user">User Page</a>.</p>
    
</div>

</div>
</body>
</html>